body {
  margin:0;
  padding:0;
  background: rgb(0,212,255);
  background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(255,255,255,1) 65%);
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

header {

}